body {
  background-color: rgb(255, 255, 255);
  padding: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  background-color: rgb(58, 53, 53);
  border-radius: 3px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Input-wrapper {
  background-color: whitesmoke;
  margin: 10px;
}

.Input-wrapper h1 {
  font-size: 20px;
}